# COMPUTE NODE TEMPLATE
x-compute-node: &compute
  image : slurm-docker-cluster
  command: slurmd
  mem_limit: 1g
  privileged: true
  volumes:
    - etc_munge:/etc/munge
    - var_log_slurm:/var/log/slurm
    - /run/dbus/system_bus_socket:/host/run/dbus/system_bus_socket # fix dbus
    - ./shared/compute:/shared/compute
    - ./ldms_conf:/shared/ldms_conf
  expose:
    - "6818"
  depends_on:
    - "slurmctld"
  networks:
    - slurm-network
  environment: # fix dbus
    - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket

################################################################################
################################################################################
### SERVICES
################################################################################
################################################################################

services:
  mysql:
    image: mariadb
    hostname: mysql
    container_name: mysql
    privileged: true
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: slurm_acct_db
      MYSQL_USER: slurm
      MYSQL_PASSWORD: password
    volumes:
      - var_lib_mysql:/var/lib/mysql
    networks:
      - slurm-network

  # Contains the slurm database
  slurmdbd:
    image: slurm-docker-cluster
    command: slurmdbd
    build:
      context: .
    container_name: slurmdbd
    hostname: slurmdbd
    privileged: true
    volumes:
      - etc_munge:/etc/munge
      - var_log_slurm:/var/log/slurm
      - var_spool_slurm:/var/spool/slurmctld
    expose:
      - "6819"
    depends_on:
      - mysql
    networks:
      - slurm-network

  slurmctld:
    image: slurm-docker-cluster
    command: slurmctld
    container_name: slurmctld
    hostname: slurmctld
    privileged: true
    volumes:
      - etc_munge:/etc/munge
      - ./images:/images
      - ./shared/data:/shared/data
      - var_log_slurm:/var/log/slurm
      - ./ldms_conf:/shared/ldms_conf
    expose:
      - "6817"
    depends_on:
      - "slurmdbd"
    networks:
      - slurm-network


  c1:
    << : *compute
    hostname: c1
    container_name: c1

  c2:
    << : *compute
    hostname: c2
    container_name: c2

  c3:
    << : *compute
    hostname: c3
    container_name: c3


  broker:
    image: apache/kafka:latest
    hostname: broker
    container_name: broker
    ports:
      - 9092:9092
    networks:
      - slurm-network
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:29093
      KAFKA_LISTENERS: PLAINTEXT://broker:29092,CONTROLLER://broker:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk

  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.0
    container_name: logstash
    hostname: logstash
    volumes:
      - ./logstash/config/logstash.yaml:/usr/share/logstash/config/logstash.yaml
      - ./logstash/pipeline:/usr/share/logstash/pipeline
    depends_on:
      - broker
    networks:
      - slurm-network
    environment:
      LS_JAVA_OPTS: "-Xms256m -Xmx256m"
      XPACK_MONITORING_ENABLED: "false"

volumes:
  etc_munge:
  slurm_jobdir:
  var_lib_mysql:
  var_log_slurm:
  var_run_slurm:
  var_spool_slurm:
networks:
  slurm-network:
    driver: bridge
